<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.google.cardboard"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PatientCreationActivity"
            android:exported="false" />
        <activity
            android:name=".PatientDataDisplay"
            android:exported="false" />
        <activity
            android:name=".FilesDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".PlaceholderActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.google.intent.category.CARDBOARD" />
                <category android:name="com.google.intent.category.DAYDREAM" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VrActivity"
            android:exported="true"
            android:label="@string/title_activity_vr"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".ConnecteEcran"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Manette"
            android:screenOrientation="landscape" />
    </application>
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" /> <!-- Required for Bluetooth Connection -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Only required for apps targeting Android 12 and higher -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" /> <!-- Extra permissions ex: FILE payloads -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


</manifest>